<<<<<<< Updated upstream
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/3959318.webp);
    background-size: cover;
}
.game-area{
    width: 80%;
    height: 80%;
    border: 10px double rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(192, 192, 192, 0.902);
    display: flex;
}
.create , .know{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 50px;
    color: rgb(0, 21, 51);
    font-weight: bolder;
}
span{
    font-size: 40px;
}
select{
    width: 40%;
    height: 5%;
    border-radius: 10px;
    border: 1px solid silver;
    color: rgb(44, 41, 41);
    outline:none;
    font-size: 1.4em;
}
option{
    font-size: 1.2em;
    border: 5px solid red;
    appearance: none;
    outline: none;
    border-radius: 20px;
}
.result , .result-know{
    width: 70%;
    height: 15%;
    border-radius: 50px;
    text-align: center;
    border: 1px solid black;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
    inherits: none;
    user-select: none;
    outline: none;
    color: black;
    background-color: white;
    font-size: 35px;
}
button{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 20px;
}
.text-place , .text-place-know{
    width: 70%;
    height: 20%;
    text-align: center;
    font-size: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    inherits: none;
    resize: none;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
}
body{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/3959318.webp);
    background-size: cover;
}
.game-area{
    width: 80%;
    height: 80vh;
    border: 10px double rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(192, 192, 192, 0.902);
    display: flex;
}
.create , .know{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px black;
    font-weight: bolder;
}
span{
    font-size: 40px;
}
select{
    width: 40%;
    height: 5%;
    border-radius: 10px;
    border: 1px solid silver;
    color: rgb(44, 41, 41);
    outline:none;
    font-size: 1.4em;
}
option{
    font-size: 1.2em;
    border: 5px solid red;
    appearance: none;
    outline: none;
    border-radius: 20px;
}
.result , .result-know{
    width: 70%;
    height: 15%;
    border-radius: 50px;
    text-align: center;
    border: 1px solid black;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
    outline: none;
    color: black;
    background-color: white;
    font-size: 35px;
}
button{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 20px;
}
.text-place , .text-place-know{
    width: 70%;
    height: 20%;
    text-align: center;
    font-size: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: none;
    outline: none;
}


@media (max-width:600px){
    .game-area{
        flex-direction: column;
        min-height: 100vh;
        height: auto;
    }
    .create , .know{
        width: 100%;
        height: 50vh;
    }
    span{
        font-size: 20px;
    }
    .text-place , .text-place-know{
        font-size: 20px;
    }
    .result , .result-know{
        font-size: 20px;
    }
}
>>>>>>> Stashed changes
